//Card

.card{
    background-color: #fff4;
    max-width: 250px;
    margin: 5px;
    border-radius: 10px;
    height: 300px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
}

.card img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.card a:visited{
    color:#fff4;
}

.card:hover{
    box-shadow: 0px 0px 150px #000;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.2);
    background-color: #c4987f;
}

.cardDetails {
    padding: 10px;
}

.cardDetails h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDetails h4{
    margin-top: 10px;
}

//Cards
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}




//Country Details

.details {
    background-color: #fff4;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    color: #fff;
    width: 900px;
    border-radius: 10px;
    padding: 20px;
    margin:  auto;
    @media(max-width: 1000px){transform: scale(.8);}
    @media(max-width: 600px){transform: scale(.5);}
}

.details h2{
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.title{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.5em;
}

.flag{
    position: relative;
    object-fit: cover;
    width: 600px;
    height: 400px;
    margin-top: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
    position: absolute;
    top: 100px;
    right: 10px;
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    background-color: aliceblue;
    color: #868686;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info h2{
    font-size: 2em;
}

.info span{
    font-weight: 500;
}

.activities{
    margin-top: 20px;
    align-self: flex-start;
    background-color: #c4987f;
    width: 100%;
    color: #fff;
    padding: 15px;
    height: 300px;
}

.activities li{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 13px;
}
